name: Karbala Victory
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: sudo apt update && sudo apt install -y ffmpeg
      - name: Live
        run: |
          ffmpeg -re -i "https://archive.org/download/karbala-live/karbala.mp4" -c:v libx264 -preset ultrafast -b:v 2500k -f flv "rtmp://a.rtmp.youtube.com/live2/q12g-s6wc-0y03-0ua5-6e6p"
