name: Final Live Stream
on:
  workflow_dispatch:
jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tools
        run: sudo apt-get update && sudo apt-get install -y ffmpeg
      - name: Start Live
        run: |
          ffmpeg -f lavfi -i testsrc=size=1280x720:rate=30 -f lavfi -i sine=frequency=1000 -c:v libx264 -preset veryfast -b:v 2500k -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -f flv "rtmp://a.rtmp.youtube.com/live2/Wd4c-4hmk-mx5u-hjfz-fx9h"
