name: YouTube Live Stream
on:
  workflow_dispatch:
jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg
          pip install yt-dlp
      - name: Start Live
        run: |
          URL=$(yt-dlp -f b -g "https://www.youtube.com/watch?v=0_u_XW93uE0")
          ffmpeg -re -i "$URL" -c copy -f flv "rtmp://a.rtmp.youtube.com/live2/Wd4c-4hmk-mx5u-hjfz-fx9h"
