name: Karbala-Safe-Stream
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Start
        run: |
          sudo apt-get update && sudo apt-get install -y ffmpeg
          ffmpeg -re -i "https://ssh101.com/hls/karbalatv/playlist.m3u8" \
          -vf "scale=854:480" -c:v libx264 -preset ultrafast -b:v 800k \
          -c:a aac -b:a 96k -f flv "rtmp://a.rtmp.youtube.com/live2/bxv1-229e-2p3p-j3fb-9rfp"
