name: Ultimate King Victory
on:
  workflow_dispatch:
jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Force Install Latest Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg
          python3 -m pip install -U pip
          python3 -m pip install -U yt-dlp
      - name: Start Live (By-Passing Block)
        run: |
          URL=$(yt-dlp --no-check-certificates --geo-bypass -f "best[ext=mp4]" -g "https://www.youtube.com/watch?v=0_u_XW93uE0")
          ffmpeg -re -i "$URL" -c:v libx264 -preset ultrafast -b:v 2000k -maxrate 2500k -bufsize 5000k -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -f flv "rtmp://a.rtmp.youtube.com/live2/q12g-s6wc-0y03-0ua5-6e6p"
