name: Karbala Final Win
on:
  workflow_dispatch:
jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: sudo apt-get update && sudo apt-get install -y ffmpeg
      - name: Start Live
        run: |
          ffmpeg -re -i "https://ia800604.us.archive.org/5/items/karbala-live-2026/karbala_final.mp4" -c:v libx264 -preset ultrafast -b:v 2500k -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -f flv "rtmp://a.rtmp.youtube.com/live2/q12g-s6wc-0y03-0ua5-6e6p"
