name: Karbala King Stream
on:
  workflow_dispatch:
jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install Latest Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg
          pip install --upgrade yt-dlp
      - name: Force Start Live
        run: |
          URL=$(yt-dlp --no-check-certificates --geo-bypass -f "best" -g "https://www.youtube.com/watch?v=aMJdmfqbuT4")
          ffmpeg -re -i "$URL" -c:v libx264 -preset ultrafast -b:v 2500k -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -f flv "rtmp://a.rtmp.youtube.com/live2/q12g-s6wc-0y03-0ua5-6e6p"
