name: Tom and Jerry Final Stream

on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Start Streaming
        run: |
          while true; do
            ffmpeg -re -i "https://archive.org/download/tom-and-jerry-cartoon/Tom%20and%20Jerry.mp4" \
            -vf "scale=854:480,drawtext=text='نورتو البث - مصطفى - المملكة علش 79':x=(w-text_w)/2:y=h-50:fontsize=30:fontcolor=yellow:box=1:boxcolor=red@0.8" \
            -vcodec libx264 -preset ultrafast -b:v 1500k -acodec aac -f flv "rtmp://a.rtmp.youtube.com/live2/apxk-reje-2e7h-3jkh-1cd8"
          done
