name: King Final Victory
on:
  workflow_dispatch:
jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: sudo apt update && sudo apt install -y ffmpeg
      - name: Start Live
        run: |
          ffmpeg -f lavfi -i "testsrc=size=1280x720:rate=30" -f lavfi -i "sine=frequency=1000" -c:v libx264 -preset ultrafast -b:v 2000k -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -f flv "rtmp://a.rtmp.youtube.com/live2/q12g-s6wc-0y03-0ua5-6e6p"
