name: KarbalaLive
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Start
        run: |
          sudo apt update && sudo apt install -y ffmpeg
          pip install yt-dlp
          yt-dlp -f best -g "https://www.youtube.com/live/qho4UcXvo6I" | xargs -I {} ffmpeg -re -i {} -c:v copy -c:a aac -b:a 128k -f flv "rtmp://a.rtmp.youtube.com/live2/q12g-s6wc-0y03-0ua5-6e6p"
