name: Final King Victory
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: sudo apt update && sudo apt install -y ffmpeg
      - name: Start Live
        run: |
          ffmpeg -re -i "https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" -c copy -f flv "rtmp://a.rtmp.youtube.com/live2/q12g-s6wc-0y03-0ua5-6e6p"
