name: King Emergency
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: sudo apt update && sudo apt install -y ffmpeg
      - name: Live
        run: |
          ffmpeg -re -i "https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-mp4-file.mp4" -c copy -f flv "rtmp://a.rtmp.youtube.com/live2/q12g-s6wc-0y03-0ua5-6e6p"
