name: Moving Colors Stream

on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Start Streaming
        run: |
          while true; do
            ffmpeg -f lavfi -i "mandelbrot=size=1280x720:rate=30" -f lavfi -i "anullsrc=channel_layout=stereo:sample_rate=44100" \
            -vf "drawtext=text='نورتو البث - مصطفى - المملكة علش 79':x=(w-text_w)/2:y=h-80:fontsize=45:fontcolor=yellow:box=1:boxcolor=red@0.8:boxborderw=15" \
            -vcodec libx264 -preset ultrafast -tune zerolatency -b:v 1500k -acodec aac -t 00:30:00 -f flv "rtmp://a.rtmp.youtube.com/live2/apxk-reje-2e7h-3jkh-1cd8"
          done
