name: Karbala Live Stream
on:
  workflow_dispatch:
jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg
          pip install yt-dlp
      - name: Start Live
        run: |
          ffmpeg -re -i "$(yt-dlp -f b -g Https://www.youtube.com/live/Ehey2f0wvwQ?si=rhKS5OY8ada59BC2)" -c copy -f flv "rtmp://a.rtmp.youtube.com/live2/Wd4c-4hmk-mx5u-hjfz-fx9h"
