name: Animals Live Stream

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Start Streaming
        run: |
          while true; do
            ffmpeg -re -i "https://www.w3schools.com/html/mov_bbb.mp4" \
            -vf "scale=1280:720,drawtext=text='نورتو البث - مصطفى - المملكة علش 79':x=(w-text_w)/2:y=h-80:fontsize=45:fontcolor=#FFD700:box=1:boxcolor=red@0.8:boxborderw=10" \
            -vcodec libx264 -preset fast -b:v 2500k -acodec aac -f flv "rtmp://a.rtmp.youtube.com/live2/ucs5-xsp1-zw6m-094a-48ck"
          done
